* {
    font-family: Outfit, Arial;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 27px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

p {
    text-align: center;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

.main-container {
    width: 80%;
    max-width: 350px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container img {
    max-width: 100%;
    border-radius: 20px;
}
